doctype html
html
  head
    title RK Power Gym
    block scripts
    block style
  body
    nav#navbar
        ul
            img(src="/static/logo.png", alt="logo")
            h4 RK
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact Us]

    block content
    footer#footer
        | Copyright © 2020 RKgym.com | All rights reserved
